/* Copyright (c) 2016-2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

//add by gongdb for kunlun2 touch panel begin
&qupv3_se9_i2c {
    status = "ok";
        focaltech@38{
        status = "ok";
                compatible = "focaltech,fts";
                reg = <0x38>;
                lcm_lab-supply = <&lcdb_ldo_vreg>;
                lcm_ibb-supply = <&lcdb_ncp_vreg>;
                interrupt-parent = <&tlmm>;
                interrupts = <125 0x02>;
                focaltech,reset-gpio = <&tlmm 95 0x00>;
                focaltech,irq-gpio = <&tlmm 125 0x2002>;
                vdd-supply = <&pm660l_l6>;
                vcc_i2c-supply = <&pm660_l11>;
                focaltech,max-touch-number = <10>;
                focaltech,display-coords =  <0 0 1080 2340>;

                pinctrl-names = "pmx_ts_active","pmx_ts_suspend","pmx_ts_release";
                pinctrl-0 = <&ts_int_active &ts_reset_active>;
                pinctrl-1 = <&ts_int_suspend &ts_reset_suspend>;
                pinctrl-2 = <&ts_release>;

                //focaltech,have-key;
                //focaltech,key-number = <3>;
                //focaltech,keys = <139 102 158>;
                //focaltech,key-y-coord = <2000>;
                //focaltech,key-x-coords = <200 600 800>;
        };

};

&tlmm {
               pmx_ts_int_active {
                        ts_int_active: ts_int_active {
                                   mux {
                                           pins = "gpio125";
                                           function = "gpio";
                                   };

                                   config {
                                           pins = "gpio125";
                                           drive-strength = <8>;
                                           bias-pull-up;
                                   };
                           };
                };

                pmx_ts_int_suspend {
                        ts_int_suspend: ts_int_suspend {
                                mux {
                                        pins = "gpio125";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio125";
                                        drive-strength = <2>;
                                        bias-disable;
                                };
                        };
                };
                pmx_ts_reset_active {
                        ts_reset_active: ts_reset_active {
                                         mux {
                                                 pins = "gpio95";
                                                 function = "gpio";
                                         };

                                         config {
                                                 pins = "gpio95";
                                                 drive-strength = <8>;
                                                 bias-pull-up;
                                         };
                                 };
                };



                pmx_ts_reset_suspend {
                        ts_reset_suspend: ts_reset_suspend {
                                mux {
                                        pins = "gpio95";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio95";
                                        drive-strength = <2>;
                                        bias-pull-down;
                                };
                        };
                };
                pmx_ts_release {
                        ts_release: ts_release {
                                mux {
                                        pins = "gpio125", "gpio95";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio125", "gpio95";
                                        drive-strength = <2>;
                                        bias-pull-down;
                                };
                        };
                };

};
//add by gongdb for kunlun2 touch panel end

//add by gongdb for kunlun2 sdcard detect begin
&sdhc_2 {
	cd-gpios = <&tlmm 96 0x1>;
};
//add by gongdb for kunlun2 sdcard detect end

//add by gongdb for kunlun2 vibrator begin
&pm660_haptics {
	qcom,actuator-type = <1>;
        status = "okay";
};
//add by gongdb for kunlun2 vibrator end

//add by huanghuan5 for kunlun audio start
&int_codec {
     qcom,mi2s-audio-intf;
     qcom,pri-mi2s-gpios = <&pri_mi2s_gpios>;
     asoc-codec = <&stub_codec>, <&msm_digital_codec>,
     	          <&pmic_analog_codec>,<&ext_disp_audio_codec>;
     asoc-codec-names = "msm-stub-codec.1", "msm-dig-codec",
                        "analog-codec", "msm-ext-disp-audio-codec-rx";
};
&qupv3_se8_spi {
     status = "disabled";       
};
&qupv3_se2_i2c {
	status = "ok";
		tfa98xx@34 {
		        compatible = "nxp,tfa98xx";
			reg = <0x34>;
			reset-gpio= <&tlmm 91 0>;
	        };
	};

//add by huanghuan5 for kunlun audio end

/*hdbd gps*/
&qupv3_se3_4uart {
	status = "ok";
};

&qupv3_se3_i2c {
	status = "disabled";
	nq@28 {
		status = "disabled";
	};
};

//new thermal begins
&soc {
    qcom,msm-thermal-simple {
        compatible = "qcom,msm-thermal-simple";
        qcom,thermal-vadc = <&pm660_vadc>;
        qcom,adc-channel = <0x4c>;
        qcom,poll-ms = <3000>;
        qcom,start-delay = <60>;

        zone@0 {
            reg = <0>;
            qcom,silver-khz = <1708800>;
            qcom,gold-khz = <2208000>;
            qcom,trip-deg = <40000>;
        };

        zone@1 {
            reg = <1>;
            qcom,silver-khz = <1708800>;
            qcom,gold-khz = <2208000>;
            qcom,trip-deg = <41500>;
        };

        zone@2 {
            reg = <2>;
            qcom,silver-khz = <1708800>;
            qcom,gold-khz = <2054400>;
            qcom,trip-deg = <43000>;
        };

        zone@3 {
            reg = <3>;
            qcom,silver-khz = <1708800>;
            qcom,gold-khz = <1996800>;
            qcom,trip-deg = <44500>;
        };

        zone@4 {
            reg = <4>;
            qcom,silver-khz = <1612800>;
            qcom,gold-khz = <1863200>;
            qcom,trip-deg = <46000>;
        };

        zone@5 {
            reg = <5>;
            qcom,silver-khz = <1612800>;
            qcom,gold-khz = <1823200>;
            qcom,trip-deg = <47500>;
        };

        zone@6 {
            reg = <6>;
            qcom,silver-khz = <1516800>;
            qcom,gold-khz = <1766400>;
            qcom,trip-deg = <49000>;
        };

        zone@7 {
            reg = <7>;
            qcom,silver-khz = <1420800>;
            qcom,gold-khz = <1689600>;
            qcom,trip-deg = <50500>;
        };

        zone@8 {
            reg = <8>;
            qcom,silver-khz = <1420800>;
            qcom,gold-khz = <1612800>;
            qcom,trip-deg = <52000>;
        };

        zone@9 {
            reg = <9>;
            qcom,silver-khz = <1324800>;
            qcom,gold-khz = <1536000>;
            qcom,trip-deg = <53500>;
        };

        zone@10 {
            reg = <10>;
            qcom,silver-khz = <1324800>;
            qcom,gold-khz = <1459200>;
            qcom,trip-deg = <55000>;
        };

        zone@11 {
            reg = <11>;
            qcom,silver-khz = <1324800>;
            qcom,gold-khz = <1363200>;
            qcom,trip-deg = <56000>;
        };

        zone@12 {
            reg = <12>;
            qcom,silver-khz = <1324800>;
            qcom,gold-khz = <1286400>;
            qcom,trip-deg = <57000>;
        };

        zone@13 {
            reg = <13>;
            qcom,silver-khz = <1324800>;
            qcom,gold-khz = <1209600>;
            qcom,trip-deg = <58000>;
        };

        zone@14 {
            reg = <14>;
            qcom,silver-khz = <1228800>;
            qcom,gold-khz = <1056000>;
            qcom,trip-deg = <59000>;
        };

        zone@15 {
            reg = <15>;
            qcom,silver-khz = <1132800>;
            qcom,gold-khz = <979200>;
            qcom,trip-deg = <60000>;
        };

        zone@16 {
            reg = <16>;
            qcom,silver-khz = <1056000>;
            qcom,gold-khz = <902400>;
            qcom,trip-deg = <65000>;
        };

        zone@17 {
            reg = <17>;
            qcom,silver-khz = <979200>;
            qcom,gold-khz = <825600>;
            qcom,trip-deg = <70000>;
        };
    };
};
